body {
    background-color: white;
}
    

.tartalom {
    max-width: 800px;
    margin: auto;
    color: whitesmoke;
}

.fejlec{
    background-image: url("cicak_forras/images/hero.jpg");
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: white;
}

.menu {
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
}

.menu ul li {
    padding: 10px;
    background-color: rgb(243, 131, 25);
    text-align: center;
    border-radius: 10px;
    color: white;
}

.menu ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu ul a:hover {
    color: brown;
}

.szoveg {
    margin-top: 200px;
}